# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0
menuconfig CEREBRI_SENSE_MAG
  bool "MAG"
  default y
  depends on CEREBRI_CORE_COMMON
  depends on CEREBRI_SYNAPSE_ZBUS
  help
    This option enables the MAG driver interface

if CEREBRI_SENSE_MAG

module = CEREBRI_SENSE_MAG
module-str = sense_mag
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_SENSE_MAG
