# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config CONTROL_ROVER
  bool "rover control lib"
  help
    This option enables the rover control lib.

config CONTROL_ROVER_STEERING_ACKERMANN
  bool "ackermann steering"
  help
    This option enables ackermann steering

config CONTROL_ROVER_STEERING_DIFFERENTIAL
  bool "differential steering"
  help
    This option enables differential steering
