source "Kconfig.zephyr"

menu "cerebri2"

config CEREBRI2_DSHOT
	bool "Enable cerebri2 FlexIO DSHOT support"
	depends on DT_HAS_NXP_FLEXIO_ENABLED
	default y
	select MCUX_FLEXIO
	help
	  Select the Zephyr FlexIO support required by the local cerebri2
	  DSHOT driver.

endmenu
