# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config CEREBRI_SYNAPSE_TOPIC
  bool "Enable synapse topic shell"
  default y
  depends on CEREBRI_SYNAPSE_ZBUS
  depends on SHELL
  help
    This option enables the synapse topic shell

if CEREBRI_SYNAPSE_TOPIC

module = CEREBRI_SYNAPSE_TOPIC
module-str = synapse_topic
source "subsys/logging/Kconfig.template.log_config"

endif  # CEREBRI_SYNAPSE_TOPIC
