# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0
menuconfig CEREBRI_SENSE_SBUS
  bool "Input"
  default y
  depends on ZROS
  depends on CEREBRI_CORE_WORKQUEUES
  help
    This option enables the safety interface

if CEREBRI_SENSE_SBUS

module = CEREBRI_SENSE_SBUS
module-str = sense_sbus
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_SENSE_SBUS
