# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config ESTIMATE_IEKF
  bool "iekf estimator"
  help
    This option enables the iekf estimator

if ESTIMATE_IEKF

endif  #ESTIMATE_IEKF
