# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0
config SENSE_WHEEL_ODOMETRY
  bool "Use wheel odometry"
  default n
  help
    This option enables the wheel odometry driver interface


module = SENSE_WHEEL_ODOMETRY
module-str = sense_wheel_odometry
source "subsys/logging/Kconfig.template.log_config"
