# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config SYNAPSE_ETHERNET
  bool "synapse ethernet interface"
  help
    This option enables the synapse ethernet interface

module = SYNAPSE_ETHERNET
module-str = synapse_ethernet
source "subsys/logging/Kconfig.template.log_config"
