# Copyright (c) 2024, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config CEREBRI_SYNAPSE_ETH_TX
  bool "ethernet tx"	
  default y
  depends on ZROS
  help
    This option enables the synapse udp interface

if CEREBRI_SYNAPSE_ETH_TX

module = CEREBRI_SYNAPSE_ETH_TX
module-str = synapse_eth_tx
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_SYNAPSE_ETH_TX
