# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config CONTROL_ACKERMANN
  bool "rover ackermann control lib"
  help
    This option enables the rover ackermamnn lib.
