# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config SYNAPSE_UART
  bool "synapse uart interface"
  help
    This option enables the synapse uart interface

if SYNAPSE_UART

endif  # SYNAPSE_UART
