# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig CEREBRI_ESTIMATE_ROVER2D
  bool "rover2d"
  depends on CEREBRI_SYNAPSE_ZBUS
  help
    This option enables the rover2d estimator

if CEREBRI_ESTIMATE_ROVER2D

config CEREBRI_ESTIMATE_ROVER2D_WHEEL_RADIUS_MM
  int "wheel radius, mm"
  default 37
  help
    Wheel radius in mm

module = CEREBRI_ESTIMATE_ROVER2D
module-str = estimate_rover2d
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_ESTIMATE_ROVER2D
