# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig ESTIMATE_ROVER2D
  bool "rover2d"
  default n
  help
    This option enables the rover2d estimator

if ESTIMATE_ROVER2D

module = ESTIMATE_ROVER2D
module-str = estimate_rover2d
source "subsys/logging/Kconfig.template.log_config"

endif # ESTIMATE_ROVER2D
