# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config PROTOBUF_UART
	bool "protobuf uart support"
	help
	  This option enables the the protobuf uart library
	depends on CONFIG_SERIAL
	depends on CONFIG_NANOPB
	depends on CONFIG_TINYFRAME
	depends on CONFIG_SYNAPSE_PB
