# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config CEREBRI_SIM
  bool "cerebri sim"
  help
    This option enables the cerebri sim

if CEREBRI_SIM

endif  # CEREBRI_SIM
