# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config SYNAPSE_ZBUS
  bool "synapse zbus interface"
  help
    This option enables the synapse zbus interface

if SYNAPSE_ZBUS

endif  # SYNAPSE_ZBUS
