# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig CEREBRI_ACTUATE_VESC_CAN
  bool "Acuate Vesc CAN"
  depends on CEREBRI_SYNAPSE_VESC_CAN
  help
    This option enables vesc can

if CEREBRI_ACTUATE_VESC_CAN

module = CEREBRI_ACTUATE_VESC_CAN
module-str = actuate_vesc_can
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_ACTUATE_VESC_CAN
