# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0
menuconfig CEREBRI_SENSE_IMU
  bool "IMU"
  default y
  depends on CEREBRI_CORE_COMMON
  depends on CEREBRI_SYNAPSE_ZROS
  help
    This option enables the IMU driver interface

if CEREBRI_SENSE_IMU

config CEREBRI_SENSE_IMU_ACCEL_COUNT
  int "Number of accelerometers"
  default 1
  range 1 4
  help
    Defines number of accelerometers 1-4

config CEREBRI_SENSE_IMU_GYRO_COUNT
  int "Number of gyroscopes"
  default 1
  range 1 4
  help
    Defines number of gyroscopes 1-4

module = CEREBRI_SENSE_IMU
module-str = sense_imu
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_SENSE_IMU
