# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0
menuconfig CEREBRI_SENSE_IMU
  bool "IMU"
  default y
  depends on CEREBRI_CORE_COMMON
  depends on CEREBRI_SYNAPSE_ZBUS
  help
    This option enables the IMU driver interface

if CEREBRI_SENSE_IMU

module = CEREBRI_SENSE_IMU
module-str = sense_imu
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_SENSE_IMU
