# Copyright (c) 2023 CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menu "Libraries"

rsource "synapse/Kconfig"

rsource "actuate/Kconfig"
rsource "control/Kconfig"
rsource "core/Kconfig"
rsource "dream/Kconfig"
rsource "estimate/Kconfig"
rsource "sense/Kconfig"

endmenu
