# Copyright (c) 2023 CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menu "Libraries"

rsource "custom_lib/Kconfig"
rsource "synapse_zbus/Kconfig"
rsource "cerebri_sim/Kconfig"
rsource "control_ackermann/Kconfig"
rsource "control_diffdrive/Kconfig"
rsource "actuator_pwm/Kconfig"
rsource "vesc_can/Kconfig"

endmenu
