config CEREBRI_SENSE_UBX_GNSS
  bool "U-blox GNSS Interface"
  depends on CEREBRI_SYNAPSE_ZROS
  depends on UBXLIB
  help
    This option enables U-blox GNSS driver.

if CEREBRI_SENSE_UBX_GNSS

module = CEREBRI_SENSE_UBX_GNSS
module-str = sense_ubx_gnss
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_SENSE_UBX_GNSS
