# Copyright (c) 2023 CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menu "Libraries"

rsource "synapse/Kconfig"
rsource "actuate/Kconfig"
rsource "dream/Kconfig"
rsource "sense/Kconfig"

endmenu
