<?xml version="1.0"?>
<model>
  <name>ELM4_Chassis</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>Model of NXP Mobile Robotics "El Mandadero" ELM4, a multi-purpose ground vehicle chassis with modular payload uppers. https://nxp.gitbook.io/elmandadero/ </description>
</model>
