# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig CEREBRI_CONTROL_ACKERMANN
  bool "ackermann"
  depends on CEREBRI_SYNAPSE_ZBUS
  help
    This option enables the rover ackermamnn lib.

if CEREBRI_CONTROL_ACKERMANN

config CEREBRI_CONTROL_ACKERMANN_GAIN_HEADING
  int "heading gain"
  default 100
  help
    Steering = Heading error * GAIN_/ 1000

config CEREBRI_CONTROL_ACKERMANN_GAIN_CROSS_TRACK
  int "cross track gain"
  default 100
  help
    Steering = Cross track error * GAIN / 1000

config CEREBRI_CONTROL_ACKERMANN_GAIN_ALONG_TRACK
  int "along track gain"
  default 100
  help
    Steering = Along track error * GAIN / 1000

config CEREBRI_CONTROL_ACKERMANN_MAX_TURN_ANGLE_MRAD
  int "max turn angle mrad"
  default 400
  help
    Max turn angle in milli-radians

config CEREBRI_CONTROL_ACKERMANN_MAX_VELOCITY_MM_S
  int "max velocity, mm/s"
  default 22000
  help
    Max velocity in mm/s

config CEREBRI_CONTROL_ACKERMANN_WHEEL_RADIUS_MM
  int "wheel radius, mm"
  default 37
  help
    Wheel radius in mm

config CEREBRI_CONTROL_ACKERMANN_WHEEL_BASE_MM
  int "wheel base, mm"
  default 226
  help
    Wheel radius in mm

config BUGGY3_MOTOR_ENB_REQUIRED
  bool "Buggy3 motor ENB line required"
  help
    Set the enable line for the Buggy3 motor
    using normalized actuator message.

module = CEREBRI_CONTROL_ACKERMANN
module-str = control_ackermann
source "subsys/logging/Kconfig.template.log_config"

endif  # CEREBRI_CONTROL_ACKERMANN
