# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig CEREBRI_ESTIMATE_ATTITUDE
  bool "attitude"
  help
    This option enables the attitude estimator

if CEREBRI_ESTIMATE_ATTITUDE

module = CEREBRI_ESTIMATE_ATTITUDE
module-str = estimate_attitude
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_ESTIMATE_ATTITUDE
