# Copyright (c) 2023 CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menu "Sense"

rsource "baro/Kconfig"
rsource "imu/Kconfig"
rsource "input/Kconfig"
rsource "mag/Kconfig"
rsource "power/Kconfig"
rsource "safety/Kconfig"
rsource "ubx_gnss/Kconfig"
rsource "vesc_can_status/Kconfig"
rsource "wheel_odometry/Kconfig"

endmenu
