# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig CONTROL_DIFFDRIVE
  bool "diffdrive"
  help
    This option enables the rover diffdrive lib.

if CONTROL_DIFFDRIVE

module = CONTROL_DIFFDRIVE
module-str = control_diffdrive
source "subsys/logging/Kconfig.template.log_config"

endif # CONTROL_DIFFDRIVE
