# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig CEREBRI_CONTROL_DIFFDRIVE
  bool "diffdrive"
  help
    This option enables the rover diffdrive lib.

if CEREBRI_CONTROL_DIFFDRIVE

module = CEREBRI_CONTROL_DIFFDRIVE
module-str = control_diffdrive
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_CONTROL_DIFFDRIVE
