/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2023 CogniPilot Foundation */
#include <zephyr/dt-bindings/sensor/ina230.h>

/ {
	pwm_shell: pwm_shell {
		compatible = "pwm-leds";
		aux0: aux0 {
			pwms = <&emios0_pwm 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
		};
		aux1: aux1 {
			pwms = <&emios0_pwm 2 PWM_HZ(20000) PWM_POLARITY_NORMAL>;
		};
		aux2: aux2 {
			pwms = <&emios0_pwm 1 PWM_HZ(20000) PWM_POLARITY_NORMAL>;
		};
		aux3: aux3 {
			pwms = <&emios0_pwm 3 PWM_HZ(50) PWM_POLARITY_NORMAL>;
		};
		aux4: aux4 {
			pwms = <&emios0_pwm 4 PWM_HZ(50) PWM_POLARITY_NORMAL>;
		};
		aux5: aux5 {
			pwms = <&emios0_pwm 5 PWM_HZ(50) PWM_POLARITY_NORMAL>;
		};
	};

	chosen {
		zephyr,canbus = &flexcan3;
	};

	aliases {
		can0 = &flexcan0;
		can1 = &flexcan1;
		can2 = &flexcan2;
		can3 = &flexcan3;
		can4 = &flexcan4;
		can5 = &flexcan5;
		/* power sensors */
		power0 = &ina230;
		/* safety button */
		safety-button = &arming_button_mr_canhubk3_adap;
		/* wheel odometry */
		wheel-odometry0 = &qdec0;
	};
};

&emios0_pwm {
	pwm_0 {
	};
	pwm_1 {
		prescaler = <1>;
		duty-cycle = <0>;
	};
	pwm_2 {
		prescaler = <1>;
	};
	pwm_3 {
		prescaler = <16>;
	};
	pwm_4 {
		prescaler = <16>;
	};
	pwm_5 {
		prescaler = <16>;
	};
};



&flexcan0 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&flexcan1 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&flexcan2 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&flexcan3 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&flexcan4 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&flexcan5 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&lpspi2 {
	status = "okay";
	apa102: apa102@0 {
	compatible = "apa,apa102";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <30000>;
	};
};

&lpi2c1 {
	status = "okay";
	pinctrl-0 = <&lpi2c1_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	ina230: ina230@40 {
		compatible = "ti,ina230";
		reg = <0x40>;
		current-lsb-microamps = <10000>;
		rshunt-micro-ohms = <2000>;
	};
};

/* GNSS 1 */
uart0: &lpuart7 {
	status = "okay";
	current-speed = <115200>;
};

