# Copyright (c) 2023 CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menu "Synapse"

rsource "zros/Kconfig"
rsource "zbus/Kconfig"
rsource "ethernet/Kconfig"
rsource "topic/Kconfig"
rsource "vesc_can/Kconfig"

endmenu
