# Copyright (c) 2023 CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menu "Synapse"

rsource "eth_tx/Kconfig"
rsource "eth_rx/Kconfig"
rsource "topic/Kconfig"
rsource "vesc_can/Kconfig"
rsource "log_sdcard/Kconfig"

endmenu
