# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig CEREBRI_SENSE_POWER
  bool "Power"
  depends on CEREBRI_SYNAPSE_ZROS
  help
    This option enables power sensor.

if CEREBRI_SENSE_POWER

module = CEREBRI_SENSE_POWER
module-str = sense_power
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_SENSE_POWER
