# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig CEREBRI_ACTUATE_PWM
  bool "PWM"
  depends on PWM
  depends on ZROS
  help
    This option enables pwm actuators

if CEREBRI_ACTUATE_PWM

config CEREBRI_ACTUATE_PWM_SHELL
  bool "Enable shell"
  help
    Enable shell

module = CEREBRI_ACTUATE_PWM
module-str = actuate_pwm
source "subsys/logging/Kconfig.template.log_config"

endif #CEREBRI_ACTUATE_PWM
