# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0
config SENSE_IMU
  bool "Use IMU driver interface"
  default n
  help
    This option enables the IMU driver interface


module = SENSE_IMU
module-str = sense_imu
source "subsys/logging/Kconfig.template.log_config"
