# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config CEREBRI_SYNAPSE_ZBUS
  bool "Enables zbus channels"
  default y
  depends on ZBUS
  depends on ZBUS_CHANNEL_NAME
  depends on ZBUS_OBSERVER_NAME
  depends on SYNAPSE_PROTOBUF
  depends on SYNAPSE_TINYFRAME
  depends on CEREBRI_CORE_COMMON
  help
    This option enables the synapse zbus channels

if CEREBRI_SYNAPSE_ZBUS

module = CEREBRI_SYNAPSE_ZBUS
module-str = synapse_zbus
source "subsys/logging/Kconfig.template.log_config"

endif  # CEREBRI_SYNAPSE_ZBUS
