# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config SIM_SITL
  bool "enable sitl simulation"
  help
    This option enables the cerebri sitl sim

if SIM_SITL

endif  # SIM_SITL
