/* SPDX-License-Identifier: Apache-2.0 */
/* Copyright 2024 CogniPilot Foundation */
#include <zephyr/dt-bindings/sensor/ina230.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	pwm_actuators: pwm_actuators {
		compatible = "pwm-actuators";
		aux0 {
			input-type = "velocity";
			pwms = <&flexpwm1_pwm0 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
			disarmed-ms = <1000>;
			min-ms = <1250>;
			max-ms = <1900>;
			center-ms = <1000>;
			scale = <1028>;
			scale-div = <1000>;
		};
		aux1 {
			input-type = "velocity";
			pwms = <&flexpwm1_pwm1 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
			disarmed-ms = <1000>;
			min-ms = <1250>;
			max-ms = <1900>;
			center-ms = <1000>;
			scale = <1028>;
			scale-div = <1000>;
		};
		aux2 {
			input-type = "velocity";
			pwms = <&flexpwm1_pwm2 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
			disarmed-ms = <1000>;
			min-ms = <1250>;
			max-ms = <1900>;
			center-ms = <1000>;
			scale = <1028>;
			scale-div = <1000>;
		};
		aux3 {
			input-type = "velocity";
			pwms = <&flexpwm2_pwm0 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
			disarmed-ms = <1000>;
			min-ms = <1250>;
			max-ms = <1900>;
			center-ms = <1000>;
			scale = <1028>;
			scale-div = <1000>;
		};
	};

	chosen {
		zephyr,canbus = &flexcan3;
	};

	aliases {
		can0 = &flexcan1;
		can1 = &flexcan2;
		can2 = &flexcan3;
		telem1 = &lpuart8; /* Use telem2 as telem1 */
		/*accel0 = &icm42686;*/
		accel0 = &icm42688_1;
		/*gyro0 = &icm42686;*/
		gyro0 = &icm42688_1;
		mag0 = &ist8310;
		mag1 = &bmm150;
		/* baro0 = &bmp388_0; */
		baro0 = &bmp388_1;
		power0 = &ina230;
		status-led = &ncp5623c;
		buzzer = &buzzer0;
		sbus = &sbus0;
	};
	cfg-device-gnss {
		status = "okay";
		compatible = "u-blox,ubxlib-device-gnss";
		transport-type = "uart0";
		uart-baud-rate = <115200>;
		module-type = "U_GNSS_MODULE_TYPE_M10";
	};
};

&flexpwm1_pwm0 {
	nxp,prescaler = <64>;
};

&flexpwm1_pwm1 {
	nxp,prescaler = <64>;
};

&flexpwm1_pwm2 {
	nxp,prescaler = <64>;
};

&flexpwm2_pwm0 {
	nxp,prescaler = <64>;
};

&flexpwm2_pwm1 {
	nxp,prescaler = <64>;
};

&flexpwm2_pwm2 {
	nxp,prescaler = <64>;
};

&flexpwm2_pwm3 {
	nxp,prescaler = <64>;
};

&flexpwm3_pwm0 {
	nxp,prescaler = <64>;
};

&flexcan1 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&flexcan2 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&flexcan3 {
	status = "okay";
	bus-speed = <1000000>;
	bus-speed-data = <4000000>;
};

&lpi2c1 {
	status = "okay";
	pinctrl-0 = <&pinmux_lpi2c1>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	ina230: ina230@41 {
		compatible = "ti,ina230";
		reg = <0x41>;
		current-lsb-microamps = <5000>;
		rshunt-micro-ohms = <500>;
	};
};

&lpspi1 {
	/delete-node/ icm42688p0@0;
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

&lpspi2 {
	status = "okay";
	cs-gpios =<&gpio3 24 GPIO_ACTIVE_LOW>;

	icm42688_1: icm42688p1@0 {
		fifo-hires;
		compatible = "invensense,icm42688";
		reg = <0>;
		int-gpios = <&gpio2 7 GPIO_ACTIVE_HIGH>;
		spi-max-frequency = <24000000>;
		accel-pwr-mode = <ICM42688_DT_ACCEL_LN>;
		accel-odr = <ICM42688_DT_ACCEL_ODR_200>;
		accel-fs = <ICM42688_DT_ACCEL_FS_16>;
		gyro-pwr-mode = <ICM42688_DT_GYRO_LN>;
		gyro-odr = <ICM42688_DT_GYRO_ODR_200>;
		gyro-fs = <ICM42688_DT_GYRO_FS_2000>;
	};
};

&lpspi6 {
	status = "okay";
	apa102: apa102@0 {
		compatible = "apa,apa102";
		reg = <0>;
		spi-max-frequency = <4000000>;
		status = "okay";
		chain-length = <36>;
		color-mapping = <LED_COLOR_ID_BLUE
				 LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED>;
	};
};

&lpi2c2 {
	/delete-node/ bmp388@76;
};

/* GNSS 1 */
uart0: &lpuart3 {
       status = "okay";
       current-speed = <115200>;
};

/* GNSS 2 */
uart1: &lpuart5 {
       status = "okay";
       current-speed = <38400>;
};

/* SBUS */
&lpuart6 {
	sbus0: sbus {
		/delete-node/ right_stick_x;
		/delete-node/ right_stick_y;
		/delete-node/ left_stick_x;
		/delete-node/ left_stick_y;
		/delete-node/ kill_switch;
		compatible = "futaba,sbus";
		chan_1 {
			channel = <1>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <1>;
		};
		chan_2 {
			channel = <2>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <2>;
		};
		chan_3 {
			channel = <3>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <3>;
		};
		chan_4 {
			channel = <4>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <4>;
		};
		chan_5 {
			channel = <5>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <5>;
		};
		chan_6 {
			channel = <6>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <6>;
		};
		chan_7 {
			channel = <7>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <7>;
		};
		chan_8 {
			channel = <8>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <8>;
		};
		chan_9 {
			channel = <9>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <9>;
		};
		chan_10 {
			channel = <10>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <10>;
		};
		chan_11 {
			channel = <11>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <11>;
		};
		chan_12 {
			channel = <12>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <12>;
		};
		chan_13 {
			channel = <13>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <13>;
		};
		chan_14 {
			channel = <14>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <14>;
		};
		chan_15 {
			channel = <15>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <15>;
		};
		chan_16 {
			channel = <16>;
			type = <INPUT_EV_ABS>;
			zephyr,code = <16>;
		};
	};
};
