# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

config SYNAPSE_CAN
  bool "synapse can communication"
  help
    This option enables synapse can communicate node

if SYNAPSE_CAN

endif  # SYNAPSE_CAN
