# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0
menuconfig CEREBRI_CORE_COMMON
  bool "Enable core common"
  select ZROS_PERF
  default y
  help
     This option enables the core common library

if CEREBRI_CORE_COMMON

config CEREBRI_CORE_COMMON_BOOT_BANNER
  bool "Enable the boot banner"
  help
    Enable the boot banner

module = CEREBRI_CORE_COMMON
module-str = core_common
source "subsys/logging/Kconfig.template.log_config"

endif # CEREBRI_CORE_COMMON
