# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

mainmenu "CogniPilot - Cerebri - RDD2"
source "Kconfig.zephyr"

config CEREBRI_RDD2_ESTIMATE
  bool "enable estimate"
  depends on CEREBRI_RDD2_CASADI
  help
    Enable estimator

config CEREBRI_RDD2_FSM
  bool "enable finite state machine"
  help
    Enable fintie state machine

config CEREBRI_RDD2_LIGHTING
  bool "enable lighting"
  help
    Enable lighting

config CEREBRI_RDD2_COMMAND
  bool "enable command"
  depends on CEREBRI_RDD2_ALLOCATION
  help
    Enable joy

config CEREBRI_RDD2_ALLOCATION
  bool "enable mixing"
  help
    Enable mixing

config CEREBRI_RDD2_POSITION
  bool "enable position"
  depends on CEREBRI_RDD2_CASADI
  help
    Enable position

config CEREBRI_RDD2_ANGULAR_VELOCITY
  bool "enable velocity"
  depends on CEREBRI_RDD2_ALLOCATION
  depends on CEREBRI_RDD2_CASADI
  help
    Enable velocity

config CEREBRI_RDD2_ATTITUDE
  bool "enable attitude"
  depends on CEREBRI_RDD2_ANGULAR_VELOCITY
  depends on CEREBRI_RDD2_CASADI
  help
    Enable attitude

config CEREBRI_RDD2_CASADI
  bool "enable casadi code"
  help
    Enable Casadi generated code

config CEREBRI_RDD2_ESTIMATE_ODOMETRY_ETHERNET
  bool "fuse odometry from ethernet"
  depends on CEREBRI_RDD2_ESTIMATE
  help
    Enable odometry from ethernet

config CEREBRI_RDD2_BATTERY_NCELLS
  int "number of cells in battery"
  default 4
  help
    Number of cells in battery

config CEREBRI_RDD2_BATTERY_CELL_MIN_MILLIVOLT
  int "millivolts per cell before shutdown"
  default 3300
  help
    millivolts per cell before shutdown

config CEREBRI_RDD2_BATTERY_CELL_LOW_MILLIVOLT
  int "millivolts per cell before warning"
  default 3500
  help
    millivolts per cell before warning

config CEREBRI_RDD2_BATTERY_CELL_NOM_MILLIVOLT
  int "nominal millivolts per cell"
  default 3700
  help
    nominal millivolts per cell

config CEREBRI_RDD2_BATTERY_CELL_MAX_MILLIVOLT
  int "max millivolts per cell before warning"
  default 4300
  help
    max millivolts per cell before warning

config CEREBRI_RDD2_GAIN_HEADING
  int "heading gain"
  default 100
  help
    Steering = Heading error * GAIN_/ 1000

config CEREBRI_RDD2_GAIN_CROSS_TRACK
  int "cross track gain"
  default 100
  help
    Steering = Cross track error * GAIN / 1000

config CEREBRI_RDD2_GAIN_ALONG_TRACK
  int "along track gain"
  default 100
  help
    Steering = Along track error * GAIN / 1000

config CEREBRI_RDD2_MAX_VELOCITY_MM_S
  int "max velocity, mm/s"
  default 1000
  help
    Max velocity in mm/s

config CEREBRI_RDD2_MOTOR_L_MM
  int "moment arm for props"
  default 174
  help
    moment arm for props

config CEREBRI_RDD2_MOTOR_CM
  int "motor moment coefficient * 1e6"
  default 16000
  help
    moment arm for props

config CEREBRI_RDD2_MOTOR_CT
  int "motor thrust coefficient * 1e9"
  default 8549
  help
    moment thrust coefficient * 1e9

config CEREBRI_RDD2_ROLL_KP
  int "roll kp * 1e3"
  default 2000
  help
    roll kp * 1e3

config CEREBRI_RDD2_PITCH_KP
  int "pitch kp * 1e3"
  default 2000
  help
    pitch kp * 1e3

config CEREBRI_RDD2_YAW_KP
  int "yaw kp * 1e3"
  default 1000
  help
    yaw kp * 1e3

config CEREBRI_RDD2_ROLLRATE_KP
  int "rollrate kp * 1e3"
  default 300
  help
    rollrate kp * 1e3

config CEREBRI_RDD2_PITCHRATE_KP
  int "pitchrate kp * 1e3"
  default 300
  help
    pitchrate kp * 1e3

config CEREBRI_RDD2_YAWRATE_KP
  int "yawrate kp * 1e3"
  default 300
  help
    yawrate kp * 1e3

config CEREBRI_RDD2_ROLLRATE_KI
  int "rollrate ki * 1e3"
  default 50
  help
    rollrate ki * 1e3

config CEREBRI_RDD2_PITCHRATE_KI
  int "pitchrate ki * 1e3"
  default 50
  help
    pitchrate ki * 1e3

config CEREBRI_RDD2_YAWRATE_KI
  int "yawrate ki * 1e3"
  default 50
  help
    yawrate ki * 1e3

config CEREBRI_RDD2_ROLLRATE_IMAX
  int "rollrate imax * 1e3"
  default 20
  help
    rollrate imax * 1e3

config CEREBRI_RDD2_PITCHRATE_IMAX
  int "pitchate imax * 1e3"
  default 20
  help
    pitchrate imax * 1e3

config CEREBRI_RDD2_YAWRATE_IMAX
  int "yawrate imax * 1e3"
  default 20
  help
    yawrate imax * 1e3

config CEREBRI_RDD2_THRUST_TRIM
  int "thrust_trim * 1e3 [N}"
  default 21952
  help
    thrust trim * 1e3 [N]

config CEREBRI_RDD2_THRUST_DELTA
  int "thrust delta* 1e3 [N}"
  default 19756
  help
    thrust delta imax * 1e3 [N}

config CEREBRI_RDD2_LOG_LINEAR_ATTITUDE
  bool "enable loglinear attitude control"
  help
    Enable loglinear atitude control

config CEREBRI_RDD2_LOG_LINEAR_POSITION
  bool "enable loglinear position control"
  help
    Enable loglinear atitude position

module = CEREBRI_RDD2
module-str = cerebri_rdd2
source "subsys/logging/Kconfig.template.log_config"
