# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

mainmenu "CogniPilot - Cerebri - RDD2"
source "Kconfig.zephyr"

config CEREBRI_RDD2_ESTIMATE
  bool "enable estimate"
  depends on CEREBRI_RDD2_CASADI
  help
    Enable estimator

config CEREBRI_RDD2_FSM
  bool "enable finite state machine"
  help
    Enable fintie state machine

config CEREBRI_RDD2_LIGHTING
  bool "enable lighting"
  help
    Enable lighting

config CEREBRI_RDD2_COMMAND
  bool "enable command"
  depends on CEREBRI_RDD2_ALLOCATION
  help
    Enable joy

config CEREBRI_RDD2_ALLOCATION
  bool "enable mixing"
  help
    Enable mixing

config CEREBRI_RDD2_POSITION
  bool "enable position"
  depends on CEREBRI_RDD2_CASADI
  help
    Enable position

config CEREBRI_RDD2_ANGULAR_VELOCITY
  bool "enable velocity"
  depends on CEREBRI_RDD2_ALLOCATION
  depends on CEREBRI_RDD2_CASADI
  help
    Enable velocity

config CEREBRI_RDD2_ATTITUDE
  bool "enable attitude"
  depends on CEREBRI_RDD2_ANGULAR_VELOCITY
  depends on CEREBRI_RDD2_CASADI
  help
    Enable attitude

config CEREBRI_RDD2_CASADI
  bool "enable casadi code"
  help
    Enable Casadi generated code

config CEREBRI_RDD2_BATTERY_NCELLS
  int "number of cells in battery"
  default 4
  help
    Number of cells in battery

config CEREBRI_RDD2_BATTERY_CELL_MIN_MILLIVOLT
  int "millivolts per cell before shutdown"
  default 3300
  help
    millivolts per cell before shutdown

config CEREBRI_RDD2_BATTERY_CELL_LOW_MILLIVOLT
  int "millivolts per cell before warning"
  default 3500
  help
    millivolts per cell before warning

config CEREBRI_RDD2_BATTERY_CELL_NOM_MILLIVOLT
  int "nominal millivolts per cell"
  default 3700
  help
    nominal millivolts per cell

config CEREBRI_RDD2_BATTERY_CELL_MAX_MILLIVOLT
  int "max millivolts per cell before warning"
  default 4300
  help
    max millivolts per cell before warning

config CEREBRI_RDD2_GAIN_HEADING
  int "heading gain"
  default 100
  help
    Steering = Heading error * GAIN_/ 1000

config CEREBRI_RDD2_GAIN_CROSS_TRACK
  int "cross track gain"
  default 100
  help
    Steering = Cross track error * GAIN / 1000

config CEREBRI_RDD2_GAIN_ALONG_TRACK
  int "along track gain"
  default 100
  help
    Steering = Along track error * GAIN / 1000

config CEREBRI_RDD2_MAX_VELOCITY_MM_S
  int "max velocity, mm/s"
  default 1000
  help
    Max velocity in mm/s

module = CEREBRI_RDD2
module-str = cerebri_rdd2
source "subsys/logging/Kconfig.template.log_config"
