# Copyright (c) 2023, CogniPilot Foundation
# SPDX-License-Identifier: Apache-2.0

menuconfig SYNAPSE_UART
  bool "UART"
  help
    This option enables the synapse uart interface

if SYNAPSE_UART

module = SYNAPSE_UART
module-str = synapse_uart
source "subsys/logging/Kconfig.template.log_config"

endif  # SYNAPSE_UART
