name: Build

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 10 * * *"

jobs:
  build:
    runs-on: ubuntu-24.04
    container: ghcr.io/cognipilot/ci-minimal:v0.1.0
    env:
      CMAKE_PREFIX_PATH: /opt/toolchains
    steps:
      - name: Set path
        run: |
          echo "/github/home/.local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: cerebri

      - name: Cache west modules
        uses: actions/cache@v4
        with:
          path: |
            bootloader
            modules
            tools
            zephyr
          key: west-${{ hashFiles('cerebri/west.yml') }}
          restore-keys: |
            west-

      - name: Initialize
        working-directory: cerebri
        run: |
          west init -l .
          west update
          ./scripts/cyecca_install

      - name: Format Check
        working-directory: cerebri
        run: |
          west format -c

      - name: Twister Tests
        working-directory: cerebri
        run: |
          west test
